<h1 class="heading">Gallery</h1>
	<div class="container">
	<div class="row">
	<div class="col-sm-4">
		<div class="pro">
		<img src="../../assets/img.jpg" class="img-fluid">
		<div class="text-center">
			<h1>Car</h1>
			<h3>Rs2500000</h3>
			<button class="btn btn-success">Buy</button>
			</div>
		</div>
		
		</div>
	<div class="col-sm-4">
		<div class="pro">
		<img src="../../assets/img.jpg" class="img-fluid">
		<div class="text-center">
			<h1>Car</h1>
			<h3>Rs2500000</h3>
			<button class="btn btn-success">Buy</button>
			</div>
		</div>
		
		</div>
		<div class="col-sm-4">
		<div class="pro">
		<img src="../../assets/img.jpg" class="img-fluid">
		<div class="text-center">
			<h1>Car</h1>
			<h3>Rs2500000</h3>
			<button class="btn btn-success">Buy</button>
			</div>
		</div>
		
		</div>
	</div>
	<div class="text-center mt-3"><a href="#" routerLink="gallery"><button class="btn btn-danger">More Products</button></a></div>
	</div>